<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <section class="todoapp">
    <!--header class="header">
      <h1>Todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header-->
    <section class="main" style="text-align: center">
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <input type="button" value="Login" [disabled]="!loginForm.valid" (click)="login()">
      </form>
    </section>

    <router-outlet></router-outlet>

  </section>
</body>
</html>
