<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
  <section class="todoapp">
    <!--header class="header">
      <h1>Todos</h1>
      <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
    </header-->
    <section class="main" style="text-align: center">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="emailGroup" style="display:flex; justify-content:center; margin: 30px">
          <label style="width: 90px">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" #mail="ngModel"
                 required email
                 [formControl]="mailControl"
          >
          <div *ngIf="mail.invalid && (mail.dirty || mail.touched)"
               class="alert alert-danger">

            <div *ngIf="mail.errors.required">
              Email is required.
            </div>
            <div *ngIf="mail.errors.email">
              Input correct email.
            </div>
          </div>
        </div>
        <div class="passGroup" style="display:flex; justify-content:center; margin-bottom: 30px">
          <label style="width: 90px">Password</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" #password="ngModel"
                 required minlength="6"
                 [formControl]="passControl"
          >
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </div>
          </div>
        </div>
        <input type="button" value="Login" [disabled]="!loginForm.valid" (click)="login()">
      </form>
    </section>

    <router-outlet></router-outlet>

  </section>
</body>
</html>
